<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>FOOBY Speech Recording</title>
    <link href="static/styles/app.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>Participant Agreement for FOOBY Speech Recording</h1>
      </header>

      <section class="top-display">
        <div class="legal">
          Dear Participants, by taking part in this project, you're assisting
          me, Rubén Nuñez, in my project. The primary objective is to integrate
          voice control functionality into mobile apps, with "Hey FOOBY" serving
          as a specific use case example.
        </div>
        <div class="legal">Here are the key points of participation:</div>
        <div class="legal">
          1. You allow this site to access your microphone to record specific
          words or sentences.
        </div>
        <div class="legal">
          2. You can review and delete recordings before submitting. Exiting
          this page will delete all clips.
        </div>
        <div class="legal">
          3. The recordings will be used as training data for my project but
          will not be published or made publicly accessible.
        </div>
        <div class="legal">4. Participation is voluntary and unpaid.</div>
        <div class="legal">
          By clicking "I Agree", you're confirming your consent and
          understanding.
        </div>
      </section>
    </div>

    <footer>
      <a href="/legal">Participant Agreement</a>
      <a href="/" onclick="removeCookies()">Revoke Consent</a>
    </footer>

    <script src="static/scripts/app.js"></script>
  </body>
</html>
