<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>FOOBY Speech Recording</title>
    <link href="static/styles/app.css" rel="stylesheet" type="text/css" />
  </head>
  <script type="text/javascript">
    var csrf_token = "{{ csrf_token() }}";
  </script>
  <body>
    <div class="wrapper">
      <header>
        <h1>FOOBY Speech Recording (v0.5)</h1>
      </header>

      <section class="top-display">
        <div class="directions">
          Press "Record" to start.
          <br />
          Record yourself saying only the phrase or word displayed in the box
          below. This could be a command like "Hey FOOBY" or a filler word such
          as "Hund".
          <br />
          Press "Stop" to end the recording. Once you've recorded all the
          requested phrases and words, you can upload the recordings.
        </div>
        <div class="progress-display"></div>
        <div class="info-display"></div>
      </section>

      <section class="main-controls">
        <canvas class="visualizer"></canvas>
        <div id="buttons">
          <button class="record">Record</button>
          <button class="stop">Stop</button>
          <button class="upload">Upload</button>
        </div>
      </section>

      <section class="sound-clips">
        <!-- This is left here as a helper for testing the style of the clips
        If you want to edit their appearance without having to record clips,
        uncomment this and reload the page. Remember to comment it again when done!
        <article class="clip">
          <audio controls></audio>
          <p>Sample clip name</p>
          <button class="delete">Delete</button>
        </article>
        -->
      </section>
    </div>

    <footer>
      <a href="/legal">Participant Agreement</a>
      <a href="/" onclick="removeCookies()">Revoke Consent</a>
    </footer>

    <script src="static/scripts/app.js"></script>
  </body>
</html>
