<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>FOOBY Speech Recording</title>
    <link href="static/styles/app.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>FOOBY Speech Recording</h1>
      </header>

      <section class="top-display">
        <div class="welcome-display">
          Thanks for contributing your spoken words to this collection! Please
          do share this page widely so we can create as comprehensive an archive
          as possible.
        </div>
        <div>
          <a href="/welcome" class="record-more">
            <button onclick="removeCookies()">Record More</button>
          </a>
        </div>
      </section>
    </div>

    <footer>
      <a href="/legal">Participant Agreement</a>
      <a href="/" onclick="removeCookies()">Revoke Consent</a>
    </footer>

    <script src="static/scripts/app.js"></script>
  </body>
</html>
