<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>FOOBY Speech Recording</title>
    <link href="static/styles/app.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>FOOBY Speech Recording</h1>
      </header>

      <section class="top-display">
        <div class="welcome-display">
          As part of my bachelor's thesis at HSLU, focusing on the integration
          of voice control features in mobile apps, collecting voice samples is
          of essential importance. These samples will assist in recognizing a
          trigger word or a sequence of trigger words in spoken language,
          ultimately enhancing the user experience considerably.
        </div>
        <div class="welcome-display">
          This project is a fork and adaptation of the
          <a href="https://github.com/petewarden/open-speech-recording"
            >open-speech-recording</a
          >
          repository from Pete Warden on GitHub, adjusted for my specific use
          case.
        </div>
        <div class="welcome-display">
          Before you proceed, please review and confirm the following
          agreements:
        </div>
        <div class="legal">
          Participation Agreement: By participating, you agree that your voice
          recordings will be used exclusively for my bachelor's thesis at HSLU
          and for the use case of the FOOBY app. The recordings will be treated
          confidentially and will not be made publicly available.
        </div>
      </section>

      <section class="main-controls">
        <div id="buttons">
          <a href="/start" class="continue-link">
            <button class="continue">I Agree</button>
          </a>
        </div>
      </section>
    </div>

    <footer>
      <a href="/legal">Participant Agreement</a>
    </footer>
  </body>
</html>
